:root{
    --main-color:#0d6efd;
 }


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Dongle', sans-serif;

   font-family: 'Josefin Sans', sans-serif;
   
   font-family: 'Ubuntu', sans-serif;
}
h1 span{
    color:var(--main-color)
}
h2 span{
    color: var(--main-color)
}
.sidebar {
    width: 250px;
    top:0;
    overflow-x: hidden;
    left: 0;
    height: 100%;
    background: var(--main-color);
    z-index: 1;
    position: fixed;
}

.sidebar-brand{
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: white;
    
}

.sidebar-brand span {
    display: inline-block;
    padding-right: 1rem;
}

.sidebar-menu{
    width: 100%;
    margin-bottom: 1.3rem;

}

.sidebar-menu a{
    display: block;
    padding: 0.5rem;
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}

.sidebar-menu a:hover{
    background: white;
    padding: 0.5rem;
    color: var(--main-color);
    transition: ease-in-out 0.3s;
    border-radius: 2 px;
}

.sidebar-menu a i{
    font-size:1.5rem;
    padding-right: 1rem;
}

.main-content{
    margin-left: 250px;
    background: #f0f0f0;
}

header{
    
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 2px 2px 5px #999797;
}


#menu-icon{
    display: none;
}

#exit-icon{
    display: none;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    
    box-shadow: 2px 2px 5px #999797;
}

.user-wrapper{
    display: flex;
    align-items: center;
}

.user-wrapper img{
    border-radius: 50%;
    margin-right: 1rem;
}

.user-wrapper small{
    display: inline-block;
    color: gray;
    font-size: 1rem;
}

.user-wrapper a{
    text-decoration: none;
    color: black;
}

.btn{
    margin-right: 1rem;
}
.container{
    display: flex;
   
    background: #f0f0f0;
}
.img-container img {
    width: 50%;
    height: 50%;
}

.info{
    border-bottom: black 2px solid;
    margin-bottom: 5rem;
    width: 80%;
}

.info h2{
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
h1 span{
    color: #0ba6e4;
}
h2 span{
    color: #0ba6e4;
}
.personal-info{
    padding: 2rem;
    width: 30%;
    margin: 1rem;
    box-shadow: 2px 2px 5px #999797;
    background: white;
}

.personal-info p{
    border-bottom: rgb(224, 222, 222) solid 1px;
    margin-bottom: 2px;
    color: grey;
    padding: 0.5rem;
}

.experiance-info{
    margin: 1rem;
    padding: 2rem;
    padding-top: 5rem;
    box-shadow: 2px 2px 5px #999797;
    width: 70%;
    background: white;
}

.experiance-info p{
    border-bottom: rgb(224, 222, 222) solid 1px;
    margin-bottom: 2px;
    color: grey;
    padding: 0.5rem;
}

.contact-info{
    margin: 1rem;
    padding: 2rem;
    
    width: 40%;
    background: white;
    box-shadow: 2px 2px 5px #999797;
}

.contact-info p{
    border-bottom: rgb(224, 222, 222) solid 1px;
    margin-bottom: 2px;
    color: grey;
    padding: 0.5rem;
}

.rates-info{
    margin: 1rem;
    padding: 2rem;
    box-shadow: 2px 2px 5px #999797;
    width: 40%;
    background: white;
}

.rates-info p{
    border-bottom: rgb(224, 222, 222) solid 1px;
    margin-bottom: 2px;
    color: grey;
    padding: 0.5rem;
}

.editbtn {
    text-decoration: none;
    background: var(--main-color);
    color: white;
    cursor: pointer;
    padding: 10px;
    
    margin: 10px;
    transition: ease 0.4s;
}

.editbtn:hover {
    cursor: pointer;
    background: transparent;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    
}

.delbtn {
    text-decoration: none;
    background: var(--main-color);
    color: white;
    cursor: pointer;
    padding: 10px;
    
    margin: 10px;
    transition: ease 0.4s;
    
}

.delbtn:hover {
    cursor: pointer;
    background: transparent;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    
}

@media (max-width: 720px){
    .sidebar{
        width: 0px;
        transition: ease 0.3s;
    }

    #menu-icon{
        display: block;
        font-size: 3rem;
    }

    #exit-icon{
        display: block;
        font-size: 3rem;
        color: white;
    }
    .main-content{
        margin-left: 0px;
        transition: ease 0.3s;
    }

    .container{
        display: block;
    }

    .personal-info{
        padding: 2rem;
        width: 90%;
        margin: 1rem;
        box-shadow: 2px 2px 5px #999797;
        background: white;
    }

    .user-wrapper h4{
        font-size: 15px;
    }

    .user-wrapper a{
        font-size: 15px;
    }
    header h1{
        display: none;
    } 
    .rates-info{
        width: 70%;
    }

    .contact-info{
        width: 70%;
    }
    
}




