*{
    margin: 0;
    padding: 0;
    font-family: 'Dongle', sans-serif;
 
    font-family: 'Josefin Sans', sans-serif;
    
    font-family: 'Ubuntu', sans-serif;
 }

 :root{
   --main-color:#0d6efd;
}
.error{
   padding: 0.5rem;
   border: solid 1px red;
   background: rgb(241, 118, 118);
   color:red ;
}

 body{
    background-color: var(--main-color);
 }
 
 .login{
    width: 900px;
    padding: 30px;
    border-radius: 10px;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:white ;
    position: absolute;
    border: 1px solid rgb(224, 224, 224);
    
 }
 
 .login h1{
    font-size: 60px;
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
 
 }
 
 .login form{
    padding: 20px;
    box-sizing: border-box;
 }
 
 form .text_field{
    position: relative;
    border-bottom: 2px solid silver;
    margin: 30px 0;
    padding-top:10px;
 }
 

 button{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background:var(--main-color);
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
    margin: 0.5rem;
 }
 
 button:hover{
    border-color:rgb(20, 125, 223) ;
    transition: .5s;
 }
 
 button a{
    text-decoration: none;
    color: white;
    font-size: 20px;
 }

 
 




