<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
</head>
<body>
    <!---Help student-->
   <p> Help for Students to find a Tutor

    Welcome to Tutor Finder! Our objective is to offer you the most comprehensive listing of tutors, teachers and educational services in Australia. Below are answers to some common questions that you may have about Tutor Finder.
    <br>
    <h2>1. How do I find a tutor?</h2>
    
    We have 6673 registered tutors and cover most regions, subjects, levels and abilities.
    
        Select a region and subject (or advanced search).
        Click on Search Now.
        Browse through the list of tutors who match your selection criteria.
    <br>
    <h2>2. How do I contact a tutor?</h2>
    
    Once you have chosen a suitable tutor, you can contact that tutor by phone (if they have included a phone number on their profile page), or by sending an email message.
    
    To send an email message to a tutor, simply click on the "send email" button at the bottom of the tutor's profile page. Fill out the form and click on "submit". Your request will be forwarded to the tutor and the tutor will contact you directly.
    
    Once the initial contact has been made, you should conduct your own personal interview. You may wish to ask for references, and you will probably want to discuss availability, experience, and tutoring style.
    
    Although tutors publish their general tutoring rate on the website, most tutors are open to negotiation on fees. Chat with the tutor and make sure you feel confident in their abiility to help with the subject matter.
    
    You can arrange how and where the tutoring sessions will be conducted (e.g. your home, instructor's home or place of business, public library, school, Coffee Club, etc...).
    <br>
    <h2>3. What should I discuss in the initial email message I send to the tutor?</h2>
    
        Specific subject(s) for which you need a tutor.
        Student's grade level.
        Describe special circumstances (e.g. student with special needs).
        Whether you like the tutor to travel to your home.
        How soon you need a tutor.
        Include your telephone number if you like. This is totally up to you.
    <br>
    <h2>4. What if there are no tutors listed for my search criteria?</h2>
    
    If there are no tutors listed for your search criteria, you are welcome to place a FREE Tutor Ad by filling out the online form Request a Tutor. We will list your request on our website and tutors in your area will be able to contact you directly.
    <br>
    <h2>5. How many tutors should I contact?</h2>
    
    There may be a number of tutors listed for your search criteria. Please browse through each tutor's profile and contact those tutors who have more direct experience and expertise in the subject(s) you need help. It is a good idea to contact several tutors. This will greatly increase your chance of finding the right tutor.
    <br>
    6. Tutor has not responded to my request. What should I do?
    
    Most tutors respond to your request very shortly. There might be a delay in a response to your request from a tutor. This could be due to a variety of reasons such as the tutor being on vacation or not having access to email. Some tutors are totally booked and sometimes don't bother to respond to a request.
    
    If you have not heard from the tutor within a few days, please try another tutor.
    <br>
    7. I need help in a subject that is not listed. What should I do?
    
    We have a comprehensive list of academic and non-academic subjects, and new subjects are added on a regular basis.
    
    If you would like to suggest a new subject then please fill out our feedback form.
    
    Be sure to check back with us on a regular basis.
    
    Regards
    Manager, Tutor Finder
    </p>

<!---Help Tutor-->

<h1>Help for Tutors to find Students</h1>

Tutors are required to assist primary, secondary and tertiary students in all subject areas throughout Australia. Below are answers to some common questions that you may have about Tutor Finder.
<br>
<h2>1. How do I become a tutor?</h2>

Simply fill out the online Registration Form.

We suggest you make your advertisement interesting and emphasise your specific skills, qualifications and experience. This is your chance to let students know who you are and how you can help them with their learning.
<br>
<h2>2. How many subjects can I select?</h2>

You may select as many subjects as you feel you are qualified to teach. Students will be able to see your information including your education, qualifications and the subjects you have chosen.
<br>
<h2>3. Do I need to be certified to register?</h2>

Having a certification from a recognized institution or state board of education always helps, but it's not necessary for tutoring. Many tutors in our database are college students and business professionals who are experts in a certain subject or variety of subjects.
<br>
<h2>4. Do I have to pay a registration fee?</h2>

It is FREE to register and advertise with Tutor Finder. You have the option to upgrade to a paid ad if you want your listing to appear on the first page.
<br>
<h2>5. Do I need to renew my advertisement?</h2>

No - there is no time limit. We may contact you every few months to ask how you find the service and if you wish to continue advertising with Tutor Finder. We encourage you to login to your account on a regular basis and keep your listing up to date. Each time you login, your profile will be bumped up the list.
<br>
<h2>6. How can I update my profile?</h2>

Click Tutor Login.

Enter your "Email Address" and "Password" and update your information by following the instructions. You may update your information as often as necessary. As a registered member, you will also have access to information on students in need of a tutor in your area.
<br>
<h2>7. How much can I earn from tutoring?</h2>

Hourly fees are set by each tutor and depend on the tutor's qualifications, the subject and the location. Beginning tutors and college students charge around $30 per hour. Certified teachers and professional tutors charge $60 or more per hour for their services.

To give you an idea of what other tutors are charging, we've compiled a full list by Subject and Location. Show Tutor Rates
<br>
<h2>8. What happens after I register?</h2>

Your information will be entered into our database and will be available in a professionally designed personal webpage. Students will be able to see your information including education, qualifications, comments and the subjects you have selected.

The initial student/parent request will be forwarded to you by tutorfinder.com.au. After that, you will be in direct contact with your student and tutorfinder.com.au will not be involved in further interactions between you and that student. You will be able to give your references, discuss your rates, availability and tutoring style.

Please be sensitive to the needs of the student. They have contacted you because you have the expertise they are looking for. Proper personal conduct and professionalism are important characteristics of a qualified tutor.
<br>
<h2>9. How many contacts should I expect to receive?</h2>

The number of contacts you receive will depend on several factors. These include location, subjects, your education, experience and qualifications. If you're an experienced tutor or a teacher, live in a metropolitan area, and teach popular subjects such as English, Maths, Science, and Social Studies, you can expect to receive more contacts.

Many of our tutors receive their first tutoring request within a few days of registration. Some of our Premium Tutors receive dozens of tutoring requests every month.
<br>
</body>
</html>