{% extends 'base/main.html' %}
{% block title %}<title>{{user.username|title}} ({{user.first_name|title}})</title>{% endblock %}
{% block content %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static '/css/profile.css' %}">
{% endblock %}

<div class="sidebar">
  <div class="sidebar-brand">
    <h1>Menu</h1>
    
  </div>
  <div class="sidebar-menu ">
    <div class="bx bx-x" id="exit-icon"></div>
            <a href="{% url 'home' %}"><i class='bx bxs-user-detail'></i><span>Tutors</span></a>
        
            <a href="{% url 'Profile' %}"><i class='bx bx-user'></i><span>My Profile</span></a>
        
            <a href=""><i class='bx bx-help-circle'></i><span>Help</span></a>
       
          <a href="{% url 'signout' %}"><i class='bx bx-log-out'></i><span>Log Out</span></a>
  </div>
</div>

<div class="main-content">
  <header>
    <div class="bx bx-menu" id="menu-icon"></div>
    <h1>
      My TuTor<span>Finder</span>
    </h1>

    <div class="user-wrapper">
      <a class="delbtn" href="{% url 'delUser' %}">Delete Account</a>
      {% if user.is_Student %}
        <a class="editbtn" href="{% url 'editProfile' %}">Edit Profile</a>
      {% else %}
      <a class="editbtn" href="{% url 'editTutorProfile' %}">Edit Profile</a>
      {% endif %}
      <div>
        <h4><a href=" {% url 'Profile' %}">{{user.first_name|title}} {{user.last_name|title}}</a>
        </h4>
        {% if user.is_Student %}
          <small>Student</small>
        {% else %}
        <small>Tutor</small>
        {% endif %}
      </div>
    </div>
  </header>

 <div class="container">
    {% if query.user.is_Tutor %}
    <div class="personal-info">
      
      <h2>Personal Information</h2>
      <div class="img-container">
        <a href="{% url 'Profile' %}"><img src="{{ query.img.url }}" width="50px" height="50px" alt=""></a> 
      </div>
      <p>Name:{{query.user.first_name|title}}</p>
      <p>Last Name: {{query.user.last_name|title}} </p>
      <p>Email: <a href="mailto: {{query.user.email}}"> {{query.user.email}}</a></p>
      <p>Gender:{{query.gender|title}} </p> 
      <p>Location:{{query.location|title}}</p>
      <p>Subject:{{query.subject|title}}</p>
      <p>Place:{{query.tutoring_location|title}}</p>
      <br>
      <a class="editbtn" href="{% url 'email_to_student' %}">Send email to Student</a>
    </div>

    <div class="experiance-info">
      <h2>Experiance</h2>
      <p>{{query.experiance}}</p>
      <h3>Service Description</h3>
      <p>{{query.serv_desc}}</p>
      <h3>My Qualifications</h3>
      <p>{{query.qualification}}</p>
    </div>
</div>

<div class="container">
  <div class="contact-info">
    <h2>Contact Details</h2>
    <p>Phone/whatsapp: {{query.phone_num}}</p>
  </div>

  <div class="rates-info">
    <h2>My Rates</h2>
    <p>R{{query.fee_field}} per Hour</p>
  </div>

  <div class="rates-info">
    <h2>My Social Media</h2>
    <p>Facebook Link: <a href="{{query.facebook_link}}">{{query.facebook_link}}</a></p>
    <p>Linkedin Link: <a href="{{query.linkedin_link}}">{{query.linkedin_link}}</a></p>
  </div>

</div>
   
    {% else %}
<div class="container">
    <div class="personal-info">
      <h2>Personal <span>Information</span></h2>
      <div class="img-container">
        <img src="{{ query.img.url }}"  class="card-img-top" alt="...">
      </div>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit vel ex iusto ullam quae 
        distinctio, eveniet quidem laborum eum itaque consectetur,
         nulla soluta reprehenderit tempore, nesciunt voluptate nostrum veniam porro.</p>
      <p>Name:{{query.user.first_name|title}}</p>
      <p>Last Name:{{query.user.last_name|title}}</p>
      <p>Email: <a href="mailto: {{query.user.email}}"> {{query.user.email}}</a></p>
      <p>Gender:{{query.gender|title}} </p> 
      <p>Location:{{query.location|title}}</p>
      <p>Phone:{{query.phone_num}}</p>
    </div>

  
    {% endif %}
 </div>

{% endblock %}