{% extends 'base/main.html' %}
{% block content %}

{% block title %}<title>Select Subject</title>{% endblock %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static '/css/subj_choice.css' %}">
{% endblock %}

<div class="login">
   
  <h1>Select Subjects</h1>
  <form action="#" class="form-control mx-5" method="POST">
    {% csrf_token %}
    {% for message in messages %}
    <p class="error">{{message}}</p>
    {% endfor %}
    {{form}}
    <div id="subject_input">
      
    </div>
    <p>If you can't find your subject add on here</p>
    
    <a href="#" id="add_field" value="add" name="add"><i class="bx bx-plus"></i>Add Subject</a>
    <a href="#" id="remove_field"><i class="bx bx-minus"></i>Remove Subject</a>
    
    <div class="grid gap-2">
        <button class="btn btn-primary my-3" type="submit">Continue</button>
        <a class="btn btn-outline-secondary m-4 " href="{% url 'Profile' %}">Back</a>
    </div>
    

</form>
</div>
{% endblock %}